@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Light&display=swap");
.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.love-light-normal {
  font-family: "Love Light", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-bg-color: #000000;
  --secondary-bg-color: #222222;
  --secondary-brand-color: #e6533c;
  --text-1: #ffffff;
  --text-2: #ffffff85;
  --hero-bg-1: #11111100;
  --hero-bg-2: #777777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-1);
}
/* Shared CSS ------------- */
.container {
  width: 75%;
  margin: 0 auto;
}
.text-normal {
  font-size: 16px;
}
.text-color-primary {
  color: var(--text-1);
}
.text-color-secondary {
  color: var(--text-2);
}
.btn {
  background-color: var(--secondary-brand-color);
  color: var(--text-1);
  font-weight: bold;
  padding: 16px 40px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 17px;
}
.section-title {
  font-size: 48px;
  font-size: clamp(20px, 4vw, 48px);
}
/* HEADER ----------------- */
header {
  background: linear-gradient(#000000, #222222, #000000);
  height: 100vh;
  /* height: 600px; */
}
.header-container {
  max-width: 100%;
  max-height: 100%;
  padding-top: 40px;
}
.header-container nav {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  /* margin-top: 30px; */
}
.header-container nav h1 {
  color: var(--secondary-brand-color);
  font-style: italic;
  font-size: 42px;
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 19px;
  /* padding: 3px 0; */
  /* padding-right: 9px; */
}
.menu a {
  text-decoration: none;
  color: var(--text-1);
  padding: 5px 18px;
  border-radius: 19px;
  font-size: 18px;
}
.menu a:nth-child(1) {
  background-color: var(--secondary-brand-color);
}
.menu-icon {
  display: none;
}
.banar {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-height: 100%;
  /* background-color: #e6533c; */
}
.banar-context {
  flex-basis: 48%;
}

.banar-desc {
  margin: 28px 0;
}

.title {
  font-size: clamp(26px, 6vw, 76px);
  --font-size: clamp(26px, 6vw, 76px);
  line-height: calc(var(--font-size) * 1.2);
  font-weight: 800;
}

.title span {
  font-size: clamp(36px, 7vw, 96px);
  letter-spacing: 5px;
}
.call-to-actions {
  display: flex;
  gap: 20px;
}
.download {
  background: transparent;
  border: 1px solid var(--text-1);
}
.banar-thumbnail {
  flex-basis: 48%;
  text-align: end;
  /* background-color: #e6533c; */
  /* max-height: 100%; */
}
.banar-thumbnail > img {
  /* width: 80%; */
  height: 525px;
  /* height: 100vh; */
  /* text-align: end; */
}
.glasses {
  position: relative;
}
.glasses .video {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -150px;
  right: 200px;
  width: 180px;
  height: 95px;
  border-radius: 5px;
  border: 1px solid var(--hero-bg-2);
  padding: 10px 12px;
  backdrop-filter: blur(6px);
  /* padding: 20px 80px; */
  /* height: 100%; */

  background-color: #ffffff10;
}
.video .red-circle {
  width: 40px;
  height: 40px;
  clip-path: circle(50%);
  background-color: var(--secondary-brand-color);
}
.video .v-tutorial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.video p {
  color: var(--text-2);
}
.glasses .workout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: -400px;
  right: -80px;
  width: 180px;
  height: 95px;
  border-radius: 5px;
  border: 1px solid var(--hero-bg-2);
  padding: 10px 12px;
  backdrop-filter: blur(6px);
  /* padding: 20px 80px; */
  /* height: 100%; */

  background-color: #ffffff10;
}
.workout h3 {
  font-size: 32px;
}
.workout p {
  color: var(--text-2);
}

/* Chnage Your Habits */

#chnage-your-habits {
  background-color: var(--primary-bg-color);
  position: relative;
}
.change-habit-context {
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.ch-intro {
  width: 52%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ch-desc {
  margin-top: 20px;
}
.habits-4 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: space-between; */
}
.habit {
  padding: 20px 15px;
  align-self: center;
  justify-self: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(241, 239, 239, 0.158),
    0 6px 20px 0 rgba(216, 215, 215, 0.13);
}
.habit > img {
  width: 100%;
  clip-path: circle();
  margin-bottom: 20px;
  border: 5px solid var(--hero-bg-2);
  border-radius: 50%;
  /* text-align: center; */
}
.habit-title {
  margin-bottom: 6px;
}

/* Run Extra mile */
#run-extra-mile {
  background-color: var(--primary-bg-color);
}
.run-extra-mile-context {
  position: relative;
  background-color: var(--secondary-bg-color);
  padding: 40px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  align-items: center;
}

.run-extra-mile-context > .text-sec {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
}
.run-extra-mile-context > .run-img {
  position: relative;
  width: 100%;
  border-radius: 12px;
  background-color: #e6533c;
  object-fit: cover;
}
.run-img > img {
  position: relative;
  width: 100%;
  height: 190%;
  border-radius: 12px;
  object-fit: fill;
}
.run-btn {
  padding: 15px 60px;
}
/* Training and Exercise */
#training-and-exercises {
  background-color: var(--primary-bg-color);
}
.training-context {
}
.img-grid-gallry {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.one {
  position: relative;
  grid-column: span 3;
  /* height: 200px; */
  background: linear-gradient(red, yellow);
}
.one::before,
.two::before,
.three::before,
.four::before,
.five::before,
.six::before {
  content: "";
  position: absolute;
  background-color: rgba(247, 5, 5, 0.315);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.two {
  position: relative;
  grid-column: span 6;
}
.two::before {
  background-color: rgba(247, 183, 5, 0.253);
}
.three::before {
  background-color: rgba(142, 247, 5, 0.253);
}
.four::before {
  background-color: rgba(5, 247, 247, 0.253);
}
.five::before {
  background-color: rgba(5, 61, 247, 0.253);
}
.six::before {
  background-color: rgba(150, 5, 247, 0.253);
}
.three {
  position: relative;
  grid-column: span 3;
}
.four {
  position: relative;
  grid-column: span 5;
}
.five {
  position: relative;
  grid-column: span 3;
}
.six {
  position: relative;
  grid-column: span 4;
}

.img-text {
  position: absolute;
  top: 0;
  left: 0;
}
