@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Light&display=swap");
.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.love-light-normal {
  font-family: "Love Light", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-bg-color: #000000;
  --secondary-bg-color: #222222;
  --secondary-brand-color: #e6533c;
  --text-1: #ffffff;
  --text-2: #ffffff85;
  --hero-bg-1: #11111100;
  --hero-bg-2: #777777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-1);
}
/* Shared CSS ------------- */
.container {
  width: 80%;
  margin: 0 auto;
}
.text-normal{
  font-size: 16px;
}
.text-color-primary{
  color: var(--text-1);
}
.text-color-secondary{
  color: var(--text-2);
}
.btn{
  background-color: var(--secondary-brand-color);
  color: var(--text-1);
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 18px;
  cursor: pointer;

}
/* HEADER ----------------- */
header {
  background: linear-gradient(#000000, #222222, #000000);
  max-height: 100vh;
}
.header-context {
  max-width: 100%;
  max-height: 100%;
}
.header-container nav {
  /* background-color: #777777; */
  padding: 12px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.header-container nav h1{
    color: var(--secondary-brand-color);
    font-style: italic;
}
.menu{
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    border: 1px solid var(--text-2);
    border-radius: 12px;
    /* padding: 3px 0; */
    /* padding-right: 9px; */
}
.menu a{
    text-decoration: none;
    color: var(--text-1);
    background-color: var(--secondary-brand-color);
    padding: 6px 7px;
    border-radius: 12px;
}
.banar{
  display: flex;
}
.banar-context{
  /* line-height: 60px; */
  flex-basis: 48%;
}

.banar-desc{
  margin: 28px 0;
}

.title{
  font-size: clamp(26px, 4em, 64px);
  line-height: 65px;
  
}

.title span{
  /* display: block; */
  font-size: 66px;
}
.banar-thumbnail{
  flex-basis: 48%;
}
