@media screen and (max-width: 770px) {
  /* shared csss */
  .container {
    width: 85%;
  }
  .btn {
    padding: 14px 35px;
    border-radius: 29px;
    font-size: 14px;
  }

  /* Header -------------->> */
  header {
    height: 100%;
  }
  .header-container nav {
    grid-template-columns: 4fr 3fr;
    /* background-color: antiquewhite;
     */
  }
  .header-container nav h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .banar {
    margin-top: 60px;
  }
  .menu {
    gap: 1px;
  }
  .menu a {
    padding: 5px 18px;
    font-size: 12px;
  }
  .banar {
    flex-direction: column;
  }
  .title {
    font-size: clamp(26px, 8vw, 76px);
    --font-size: clamp(26px, 8vw, 76px);
    line-height: calc(var(--font-size) * 1.2);
  }
  .title span {
    font-size: clamp(36px, 8vw, 96px);
    letter-spacing: 5px;
  }
  /* Chnage Your Habits */
  .ch-intro {
    width: 80%;
  }

  .habits-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .habit {
    width: 80%;
    margin: 0 auto;
    /* background-color: aqua; */
  }
  .habit > img {
    width: 100%;
  }
}
